.mainDisplayWrapper {
    margin-top: 70px;
    /* background-color: rgb(187, 26, 219); */
    display: flex;
    flex-direction: row;
    align-content: stretch;
    justify-content: space-between;
    /* width: 100%; */
    /* height: calc(100% - 100px); */
    /* height: 500px; */
}
