.sourcesFormGroup {
  display: flex;
  flex-wrap: wrap;
  min-width: 290px;
  max-width: fit-content;
  height: 50px;
}

.sourcesFormControlLabel{
  margin-left: 10px;
  margin-top: 4px;
}

.sourcesFormControlLabel{
    max-height: 15px;
    padding: 2px;
}

.sourcesCheckbox{
  padding: 1px;
}

/* .sourcesParam{
  padding: 5px;
} */

.MuiButtonBase-root{
  padding: 3px;
}

.MuiFormControlLabel-root{
  width: fit-content;
}