.displayWrapper {
  /* background-color: rgb(196, 210, 255); */
  min-width: 220px;
  max-width: 500px;

}

.displayBar {
  /* background-color: rgb(221, 165, 132); */
  width: max;
  display: flex;
  height: 30px;
  justify-content: space-between;
}

.displayContent{
  max-height: calc(100vh - 100px);
  overflow-x: false;
  overflow-y: auto;
  border-left: 1px white;

}


.displayBarButtons{
  display: flex;
  align-items: center;
}

.displayBarTypography{
  /* background-color: brown; */
  min-width: 70px;
  max-width: 160px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.defHead{
  /* background-color: rgb(129, 81, 99); */
  padding-left: 6px;
}
.defBody{
  // background-color: rgb(44, 212, 198);
  padding-left: 6px;

}

.defExamples {
  /* background-color: yellowgreen; */
  padding-left: 15px;
  padding-top: 5px;
  // padding-bottom: 5px;
}

.defSynonyms {
  /* background-color: yellowgreen; */
  padding-left: 15px;
  padding-top: 5px;
  // padding-bottom: 5px;
}

.defMoreDef {
  /* background-color: yellowgreen; */
  padding-left: 15px;
  padding-top: 5px;
  // padding-bottom: 5px;
}

.defBlock {
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.babelnetDefSource{
  font-size: 12;
}

.italic{
  font-style: italic;
}
.offensive{
  margin: 0
}

/* .defAut{
  margin-right: 100px;
  background-color: aqua;
} */

// .autAndRate{
//   display: flex;
//   flex-direction: row;
//   // justify-content: space-between;
// }

a { color: inherit; } 

